/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/09/2018, 18:58:30
    Author     : mathe
*/

#botaoNovoPost{
    display:none;
}

#cabecalhoEditor{
    padding: 8px 12px;    
}

#miniaturaImagemDestaque{
    position: relative;
    width: 100%;
    display: flex; 
}

a.mostrarOpcao{
    color: #ca2900;
    padding: 15.5px 10px;
    display: inline-block;
    width: 100%;
    cursor:pointer;
    font-weight: 500;
    border-top: 1px solid #eee;
    text-decoration: none !important;
    tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    -moz-transition: background-color .218s,border-color .218s,box-shadow .218s;
    -o-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
}

a.mostrarOpcao:hover {
    color: #ca2900;
    background: rgba(241, 241, 241, 0.8);
}

a.mostrarOpcao.semBorda{
    border: none !important;
}

a.mostrarOpcao > i{
    margin-right: 10px;
}

.opcao{
    height: auto;
    margin: 0;
    -webkit-transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
    margin-bottom: 20px;
}

.opcao > div{
    margin: 20px 0;
}

.opcao .caixaDeTexto,
.opcao .campoDeTexto{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.opcao .botaoOnOffContainer{
    padding: 10px 0;
    width: 90%;
    margin: auto;
}
.opcaoOculta{
    overflow: hidden;
    margin-bottom: 0;
    height: 0 !important;
}

.botaoPadraoFileInput input{
    margin-left: 6px;
}

#imagemDestaque{
    min-width:100px;
    max-height: 100px;
    min-height: 100px;
    margin: auto;
    position: relative;
    border: 1px solid #ccc; 
}

#imagemDestaque.semImagem{
    background: url(../graficos/sem-imagem.png) no-repeat;
    background-size: contain;
}

#editor{
    padding:0;
}

.containerConteudo{
    position: absolute;
    max-width: 1354px;
    height: 100%;
}

.publicar{
    padding: 15px 0px;
    width: fit-content;
    min-width: 390px;
}

.publicar button{
    margin-left:10px;
}

@media (max-width:670px) {
    .agruparCampos{
        display: inline !important;
    }
    .publicar{
        width: 100%;
        padding: 0;
        min-width: auto;
    }
}

@media (max-width:800px) {
    .colunaDireita{
        margin-top: 20px;
    }
}